@charset "UTF-8";
/*
    ---------------------【【通用】】--------------------
*/
img,video{
    max-width:100%;
    max-height:100%;
}
body,html,h1,h2,h3,h4,h5,h6,div,p,a,input,button,form,table,tr,td{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.hide{
    display: none;
}
.cf:after{
    content: "";
    display: block;
    clear: both;
}
























/*
-------------------【【Loading】】-------------------
<div class="c_loading" id="c_loading">
    <div class="con">
        <p><img src="imgs/loading.gif" alt="正在加载"/></p>
        <p class="progress" >0%</p>
    </div>
</div>
*/
.c_loading {
    text-align: center;
    position:fixed;
    z-index:9999;
    left:0;top:0;bottom:0;right:0;
    background:rgba(0,0,0,1);
}
.c_loading .con {
    background-color:#fff;
    position:absolute;
    left:35%;
    width:30%;
    top:30%;
}
.c_loading img{
    width:100%;
}


/*
-----------------【【切换】】--------------
<div class="c_tabBtn" data-tab="#tab01">
    <a href="javascript:void(0);" class="active">第一</a>
    <a href="javascript:void(0);">第二</a>
    <a href="javascript:void(0);">第三</a>
</div>
<div class="c_tabCon ani_opacity" id="tab01">
    <div class="active"> Lorem</div>
    <div>Blanditiis </div>
    <div>tempora </div>
</div>
*/

.c_tabBtn a.active{
    text-decoration: underline;
}
/*fade效果*/
.c_tabCon.ani_opacity>div.active{
    transition:opacity 1s;
}
/*高度变化效果*/
.c_tabCon.ani_height>div.active{
    transition:max-height 1s;
}
.c_tabCon>div{
    max-height:0;
    overflow: hidden;
    opacity:0;
}
.c_tabCon>div.active{
    max-height:100%;
    opacity: 1;
}


/*
--------------【【inputWithCheck】】---------------
<div class="c_input_withCheck" >
    <label><input type="text"
         data-reg="^[1234567890]{5,10}$"
         data-check-false="请输入正确的姓名"
         data-check-empty="姓名不能为空"/>
    </label>
    <p class="check_result hide">...</p>
</div>
*/
.c_input_withCheck .check_result{
    /*opacity:0 ;*/
    display: none;
}
.c_input_withCheck .check_result.active{
    /*opacity:1 ;*/
    display: block;
}
.c_input_withCheck .check_result.error{
    color:#f00;
}
.c_input_withCheck .check_result.correct{
    color:darkgreen;
}


/*
------------------【【playImg】】----------------
*/
.c_playImg{  display: inline-block;  vertical-align: top;  }
.c_playImg img{  display: none;  }
.c_playImg img:first-child{  display: block;  }