@charset "UTF-8";
/*
    无ID
    无层级(尽量)
    无标签
*/
body,html,div,p,a,button,h1,h2,h3,h4,h5,h6,ul,li,ol,input{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    color:#000;
    text-decoration:none;
}
a:hover{
    color:#000;
    text-decoration: none;
}
img{
    width:100%;
    height:auto;
}
/* -----------------------------------   通用   ----------------------------- */

.cf:after{content: "";display: block;clear: both;}
.fl{float: left;}
.fr{float: right;}

/*字体样式*/
@font-face {
    font-family: 'font-name';
    /*
    src:url('YourWebFontName.ttf')  format('truetype'), /!* Safari, Android, iOS *!/
        url('YourWebFontName.eot?#iefix') format('embedded-opentype'), /!* IE6-IE8 *!/
        url('YourWebFontName.svg#YourWebFontName') format('svg'); /!* Legacy iOS *!/
        url('YourWebFontName.woff') format('woff'), /!* Modern Browsers *!/
        url('YourWebFontName.eot'); /!* IE9 Compat Modes*!/ ;
    */
}

.c-both-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.c-horizontal-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.c-vertical-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.c-block{
    display: block;
}
.c-write-vertical{
    writing-mode: vertical-rl;/* 垂直，从右向左 */
}
.c-position-ab{
    position: absolute;
}
.c-position-re{
    position: relative;
}


/* ----------------------------   根据项目填写   ----------------------- */
.c-color-main{

}
.c-color-sub{

}
.c-color-link{

}
.c-bg-main{

}
.c-bg-sub{

}
/* 这样可以吗？*/
.c-fontSize-a{

}